body {
    background: white url("images/list.png") no-repeat;
    background-position: 70% 90px;
    background-size: 180px 180px;
}

h1 {
    font-weight: bold;
    font-style: oblique;
    margin-left: 18%;
    margin-top: 25px;
    color: darkorchid;
}

.survey {
    margin-top: 25px;
    margin-left: 15%;
    color: #bedcfa;
    font-weight: bold;
}

.survey li a {
    color: #b088f9;
    font-size: 21px;
    font-style: italic;
    text-decoration: underline;
}